<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <title>MISIN | カートの中身</title>
  </head>

  <body>
    <!-- JavaScript -->
    <script type="text/javascript">
      'use strict';
      var quantity = document.getElementsByName(quantity);
      var minus = document.getElementsByName(minus);
      var plus = document.getElementsByName(plus);

      function rewrite(quantity) {
        quantity = return quantity;
      }
    </script>

    <div class="container">
      <h1>カートの中身</h1>
        <table>
          <thead>
            <tr>
              <th>メニュー</th>
              <th>価格</th>
              <th>数量</th>
              <th>購入日</th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="cart : ${cartForm}" th:object="${cart}">
              <td th:text="*{name}"></td>
              <td th:text="*{price}"></td>
              <td>数量</td>
              <td th:text="*{inCartAt}"></td>
            </tr>
          </tbody>
      </table>
    </div>

    <div class="pull-left">
      <a class="btn" th:href="@{/shoppingconfirm}">
        <button class="btn" type="button" >お届け先の入力に進む</button>
      </a>
    </div>

    <div class="pull-right">
      <a class="btn" href="/">
        <button class="btn" type="button">一覧画面へ戻る</button>
      </a>
    </div>
  </body>
</html>