<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">

        <title>カートの中身</title>
</head>

<body>
        <!-- JavaScript -->
        <script type="text/javascript">
        </script>

	<div class="container">
	<h1>カートの中身</h1>

        <table>
        <thead>
        	<tr>
                <th>メニュー</th>
            	<th>価格</th>
    			<th>数量</th>
    			<th>購入日</th>
            </tr>
        </thead>

        <tbody>
       	<tr th:each="cart : ${cartForm}" th:object="${cart}">
        	<td th:text="*{name}"></td>
            <td th:text="*{price}"></td>
            <td th:text="*{quantity}"></td>
            <td th:text="*{inCartAt}"></td>
            <!--  <td>
            <a class="btn" th:href="@{/cart/{id}(id=*{id})}">
			<input type="submit" value="同じ商品を追加"></a>
			</td> -->
        </tbody>
        </table>
	</div>

	<a class="btn" th:href="@{/shoppingconfirm}">
	<input type="submit" value="購入確認ページへ">
	</a>

	<div class="pull-right">
  		<a class="btn" href="/">一覧画面へ</a>
   	</div>
</body>
</html>