<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <title>MISIN | 購入完了</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    <div class="container">
      <h1>購入完了画面</h1>
      <h2>ご購入ありがとうございました。</h2>
      <a class="btn" href="/">
        <button class="btn" type="button">一覧画面へ戻る</button>
      </a>      
    </div>
  </body>
</html>