<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <title>MISIN | 購入確認画面</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>確認画面</h1>
      <table th:object="${confirmationForm}">
        <tbody>
          <tr>
            <th>お名前</th>
            <td th:text="*{name}"></td>
          </tr>
          <tr>
            <th>住所</th>
            <td th:text="*{address}"></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td th:text="*{phone}"></td>
          </tr>
        </tbody>
      </table>

      <a class="btn" th:href="@{/purchase}">
        <button class="btn" type="button">確定</button>
      </a>
      <!-- <a class="btn" th:href="@{/purchase}">
        <button class="btn" type="submit">確定</button>
      </a> -->
      <div class="pull-right">
        <button class="btn" th:href="@{/cart}">カートへ戻る</button>
      </div>
    </div>
  </body>
</html>