<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<title>MISIN | 購入者情報</title>
		<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}" src="../static/js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" th:src="@{/js/tailor.js}" src="../static/js/tailor.js"></script>
		<script type="text/javascript" th:src="@{/js/jquery.autoKana.js}" src="../static/js/jquery.autoKana.js"></script>
		<link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
	</head>

	<body>
		<div class="container">
			<form th:action="@{/showconfirm}" th:object="${confirmationForm}" method="post">
				<h2>購入者情報の入力</h2>
				<div>
					<tr th:each="error : ${validationError}">
					    <td th:text="${error}"></td><br>
					</tr>
				</div>
				<div class="form-group nameKanji">
					<label for="formName"><span class="required">必須</span>お名前</label>
					<div>
						<input type="text" th:field="*{lastName}" class="form-control" placeholder="山田">
						<input type="text" th:field="*{firstName}" class="form-control" placeholder="花子">
					</div>
				</div>
				<div class="form-group nameKana">
					<label for="formName"><span class="required">必須</span>お名前（カナ）</label>
					<div>
						<input type="text" th:field="*{lastNameKana}" class="form-control" placeholder="ヤマダ">
						<input type="text" th:field="*{firstNameKana}" class="form-control" placeholder="ハナコ">
					</div>
				</div>
				<div class="form-group zipCode">
					<label for="formName"><span class="required">必須</span>郵便番号</label>
					<div>
						<input type="text" th:field="*{zipcode}" placeholder="例：1000001">
						<input type="button" class="page-link text-dark d-inline-block" id="search_btn" value="住所自動入力">
					</div>
				</div>
				<div class="form-group pref">
					<label for="formName"><span class="required">必須</span>都道府県</label>
					<div>
						<select name="pref_id" id="pref">
							<option value="0" selected>選択  ▼</option>
							<option value="1">北海道</option>
							<option value="2">青森県</option>
							<option value="3">岩手県</option>
							<option value="4">宮城県</option>
							<option value="5">秋田県</option>
							<option value="6">山形県</option>
							<option value="7">福島県</option>
							<option value="8">茨城県</option>
							<option value="9">栃木県</option>
							<option value="10">群馬県</option>
							<option value="11">埼玉県</option>
							<option value="12">千葉県</option>
							<option value="13">東京都</option>
							<option value="14">神奈川県</option>
							<option value="15">新潟県</option>
							<option value="16">富山県</option>
							<option value="17">石川県</option>
							<option value="18">福井県</option>
							<option value="19">山梨県</option>
							<option value="20">長野県</option>
							<option value="21">岐阜県</option>
							<option value="22">静岡県</option>
							<option value="23">愛知県</option>
							<option value="24">三重県</option>
							<option value="25">滋賀県</option>
							<option value="26">京都府</option>
							<option value="27">大阪府</option>
							<option value="28">兵庫県</option>
							<option value="29">奈良県</option>
							<option value="30">和歌山県</option>
							<option value="31">鳥取県</option>
							<option value="32">島根県</option>
							<option value="33">岡山県</option>
							<option value="34">広島県</option>
							<option value="35">山口県</option>
							<option value="36">徳島県</option>
							<option value="37">香川県</option>
							<option value="38">愛媛県</option>
							<option value="39">高知県</option>
							<option value="40">福岡県</option>
							<option value="41">佐賀県</option>
							<option value="42">長崎県</option>
							<option value="43">熊本県</option>
							<option value="44">大分県</option>
							<option value="45">宮崎県</option>
							<option value="46">鹿児島県</option>
							<option value="47">沖縄県</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="formName"><span class="required">必須</span>市区郡</label>
					<div>
						<input type="text" id="address2" class="formName" name="city" placeholder="例：○○市" maxlength="30">
					</div>
				</div>
				<div class="form-group">
					<label for="formName"><span class="required">必須</span>町名</label>
					<div>
						<input type="text" id="address3" class="formName" name="town" placeholder="町名" maxlength="30">
					</div>
				</div>
				<div class="form-group">
					<label for="formName"><span class="required">必須</span>番地</label>
					<div>
						<input type="text" class="formName" name="house_num" placeholder="番地" maxlength="30">
					</div>
				</div>
				<div class="form-group">
					<label for="formName"><span>任意</span>建物名</label>
					<div>
						<input type="text" class="formName" name="building" placeholder="建物名" maxlength="30">
					</div>
				</div>
				<div class="form-group">
					<label for="formName"><span class="required">必須</span>電話番号</label>
					<div>
						<input type="text" class="formName" th:field="*{phone}" placeholder="080-1234-5678" maxlength="30">
					</div>
				</div>
				<button class="btn" type="submit">入力内容を確認</button>
			</form>

			<div class="pull-right">
				<a class="btn" th:href="@{/cart}">
					<button class="btn" type="button">カートへ戻る</button>
				</a>
			</div>
		</div>
	</body>
</html>